*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  --bg-color: #D5E1EF;
  --primary-text: #1F314F;
  --secondary-text: #68778D;
  --card-bg: #FFFFFF;
}

body {
    background-color: var(--bg-color);
    font-family: "Outfit", sans-serif;
}
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

div.card-container {
    background-color: var(--card-bg);
    max-width: 320px;
    /* height: 499px; */
    padding: 16px 16px 40px 16px;
    border-radius: 20px;
    box-shadow: 0px 25px 25px rgba(0,0,0,0.05);
}

img.qrImage {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 24px;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 16px 0px 16px;
}

h1 {
    font-weight: 700;
    color: var(--primary-text);
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0px;
    margin: 0px;
}
.card-subtext {
    font-weight: 400;
    color: var(--secondary-text);
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    margin: 16px 0px 0px 0px;
}